<?xml version="1.0" ?>
<ESPSimConfig>
  <SimProperties>
    <Temperature value="1.5"/>
    <Density value="0.5"/>
    <NumberOfParticles value="1372"/>
  </SimProperties>
  <SimSettings>
    <EqLength time="20"/>
    <RunLength time="50"/>
    <Runs number="1"/>
    <Thermostat type="Andersen" autoUpdate="true" thermoFreq="0.05"/>
    <NL type="Simple"/>
  </SimSettings>
  <SamplerSettings>
    <CollisionCounts active="true"/>
  </SamplerSettings>
  <StepperSettings>
    <Continuous type="LennardJones_shifted" epsilon="1" sigma="1" r_cutoff="3.0"/>
    <Discrete position="EvenEnergy" energy="AverageEnr" core="None" noSteps="10" energyInt="0.5"/>
  </StepperSettings>
  <Output/>
</ESPSimConfig>